*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


.container{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;


}

.visor{
    width: 271px;
    height: 70px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
   
 
    font-size: 50px;
    border: 1px solid #000000;
   
}

.container-buttons{
   
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container-buttons .button{
    width: 51px;
    height: 51px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 50px;
    margin: 10px;
    border: 1px solid #000000;

}
.container-igual {
    display: flex;
}
.container-igual .button-igual {
    width: 271px;
    height: 51px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 50px;
    border: 1px solid #000000;
}