* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    font-size: 26px;
    color: white;
    margin-top: 10px;
}

.container {
    width: 299px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid #383838;
    background-color: #222222;
}

.visor {
    width: 299px;
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    color: white;
    font-size: 50px;
    border: 2px solid #383838;
    background-color: #222222;
  
}

.container-buttons {
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.container-buttons div {
    display: flex;
    flex-direction: column;
}

.button {

    font-size: 25px;

}

.container-buttons .button {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

    color: #ffffff;
    margin: 10px;
    cursor: pointer;

    background-color: #383838;
}

.container-igual {
    display: flex;
}

#division, #multiplication, #subtraction,#addition{
    color: rgb(23, 87, 184);
}
.container-igual .button-igual {
    width: 299px;
    height: 51px;
    display: flex;
    justify-content: center;
    align-items: center;

    color: #ffffff;
    background-color: #383838;
    margin-bottom: 1px;
}